<template>
	<section v-if="isLoading" class="loading-section">
		<div class="loading-icon"></div>
	</section>

  <div v-else class="home">
		<ol
			v-if="tasks.length"
			class="task-list"
		>
			<li
				is="TaskItem"
				v-for="task in tasks"
				:key="task._id"
				:task="task"
				@updated="updateTaskList"
				@deleted="removeTask"
			></li>
		</ol>

		<p
			v-else
			class="empty-state"
		>No tasks yet</p>

		<TaskForm
			v-if="isAddTaskMode"
			:errors="errors"
			@cancel="isAddTaskMode = false"
			@save="addTask"
		/>

		<section class="utils">
			<button
				v-if="!isAddTaskMode"
				@click="isAddTaskMode = true"
				:disabled="isAddTaskMode"
			>Add Task</button>
		</section>
  </div>
</template>

<script>
import TaskForm from "@/components/TaskForm.vue";
import TaskItem from "@/components/TaskItem.vue";

import {unauthorizedCheck} from '@/utils/fetch-afterware.js';

export default {
	name: "home",
	data () {
		return {
			isLoading: true,
			tasks: [],
			errors: null,
			isAddTaskMode: false
		}
	},
	methods: {
		async addTask(newTask) {
			const data = JSON.stringify(newTask);

			try{
				const result = await fetch('http://localhost:8888/api/tasks', {
					method: 'POST',
					body: data,
					headers: {
						'Authorization': `Bearer ${this.$cookies.get('tkn')}`,
						'Content-Type': 'application/json'
					}
				});

				if(!result.ok) {
					const {errors} = await result.json();
					if (errors) {
						this.errors = errors;
					}

					return unauthorizedCheck.call(this, result);
				}

				const {data: {newTask}} = await result.json();

				this.tasks.push(newTask);

				// Reset some data
				this.isAddTaskMode = false;
				this.errors = null;

			} catch (err) {
				console.error(err);
			}
		},
		async getTasks() {
			try{
				const result = await fetch('http://localhost:8888/api/tasks', {
					method: 'GET',
					headers: {
						'Authorization': `Bearer ${this.$cookies.get('tkn')}`
					}
				});

				if(!result.ok) {
					return unauthorizedCheck.call(this, result);
				}
				const {data} = await result.json();
				this.isLoading = false;
				return data.tasks;

			} catch (err) {
				console.error(err);
			}
		},
		updateTaskList (updatedTask) {
			const taskIndex = this.tasks.findIndex(task => {
				return updatedTask._id = task._id;
			});
			this.tasks.splice(taskIndex, 1, updatedTask);
		},
		removeTask (deletedTask) {
			const taskIndex = this.tasks.findIndex(task => {
				return deletedTask._id = task._id;
			});
			this.tasks.splice(taskIndex, 1);
		}
	},
	async created () {
		this.tasks = await this.getTasks();
	},
  components: {
    TaskForm,
    TaskItem
  }
};
</script>

<style lang="scss" scoped>
.home{
	width: 800px;
	margin: 0 auto;
	align-self: flex-start;
}
.task-list{
	padding: 0;
	list-style: none;

	li{
		margin: 0 0 15px;
		padding: 30px 15px;
		border: 1px solid var(--main-color);
		width: 100%;
		position: relative;
	}
}
</style>
