<template>
	<section class="login-page">
		<h1>Cool Task App</h1>
		<h3>Please, login to continue</h3>
		<form @submit.prevent="login">
			<p
				v-if="errors && errors.general"
				class="error-message general-error"
			>{{errors.general}}</p>

			<p>
				<label for="email">Email</label>
				<input id="email" type="text" v-model.trim="email">
			</p>
			<p>
				<label for="password">Password</label>
				<input type="password" v-model.trim="password">
			</p>
			<button>Login</button>
		</form>

		<p>Did not register yet? Please, <router-link :to="{name: 'registration'}">sign up</router-link></p>
	</section>
</template>

<script>
	export default {
		data () {
			return {
				email: '',
				password: '',
				errors: null
			}
		},
		methods: {
			async login () {
				this.errors = null;

				try{
					const result = await fetch('http://localhost:8888/auth/login', {
						method: 'POST',
						body: JSON.stringify({
							email: this.email,
							password: this.password
						}),
						headers: {
							'Content-Type': 'application/json'
						}
					});

					if(!result.ok) {
						const {errors} = await result.json();
						if (errors) {
							this.errors = errors;
						}
						return;
					}

					const {data: {user, token}} = await result.json();

					this.$cookies.set('tkn', token, '1h');

					this.$store.commit('saveUser', user);

					this.$router.push('/');
				} catch (err) {
					console.error(err);
				}
			}
		}
	}
</script>

<style lang="scss" scoped>
	.login-page{
		width: 320px;
		margin: auto;
	}
	form{
		border: 1px solid #595959;
		background-color: #aaa;
		padding: 25px 15px;

		p{
			margin-top: 0;
		}
	}
	.general-error{
		display: flex;
		align-items: center;
		color: #bbb;
		background: var(--alert-color);
		padding: 8px 10px;
		margin-bottom: 15px;

		&:after{
			content: '!';
			flex-basis: 1.5em;
			margin-left: auto;
			line-height: 1.5em;
			width: 1.5em;
			color: var(--alert-color);
			background: #bbb;
			text-align: center;
			border-radius: 50%;
		}
	}
</style>
