<template>
	<section class="register-page">
		<h1>Cool Task App</h1>
		<h3>Please, register to start use this awesomeness</h3>
		<form @submit.prevent="register">
			<p :class="{'has-error': errors && errors.email}">
				<label for="email">Email</label>
				<span
					v-if="errors && errors.email"
					class="error-message"
				>{{errors.email}}</span>
				<input id="email" type="text" v-model.trim="email">
			</p>

			<p :class="{'has-error': errors && errors.password}">
				<label for="password">Password</label>
				<span
					v-if="errors && errors.password"
					class="error-message"
				>{{errors.password}}</span>
				<input id="password" type="password" v-model.trim="password">
			</p>

			<p :class="{'has-error': errors && errors.repeatPassword}">
				<label for="repeatPassword">Repeat Password</label>
				<span
					v-if="errors && errors.repeatPassword"
					class="error-message"
				>{{errors.repeatPassword}}</span>
				<input id="repeatPassword" type="password" v-model.trim="repeatPassword">
			</p>
			<button>Register</button>
		</form>

		<p>Already registered? Please, <router-link :to="{name: 'login'}">sign in</router-link></p>
	</section>
</template>

<script>
	export default {
		data () {
			return {
				email: '',
				password: '',
				repeatPassword: '',
				errors: null
			}
		},
		methods: {
			async register () {
				try{
					this.errors = null;

					const result = await fetch('http://localhost:8888/auth/register', {
						method: 'POST',
						body: JSON.stringify({
							email: this.email,
							password: this.password,
							repeatPassword: this.repeatPassword
						}),
						headers: {
							'Content-Type': 'application/json'
						}
					});

					if(!result.ok) {
						const {errors} = await result.json();
						if (errors) {
							this.errors = errors;
						}
						return;
					}

					await result.json();
					this.$router.push('/login');
				} catch (err) {
					console.error(err);
				}
			}
		}
	}
</script>

<style lang="scss" scoped>
	.register-page{
		flex: 1;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	form{
		border: 1px solid #595959;
		background-color: #aaa;
		width: 320px;
		padding: 25px 15px;

		p{
			margin-top: 0;
		}

		input{
			background-color: #fff;
			border: 1px solid #595959;
			width: 100%;
			font-size: 1rem;
			line-height: 2em;
			padding: 0 10px;
			box-sizing: border-box;
		}
		button{
			width: 100%;
			background: #595959;
			border: none;
			font-size: 1rem;
			line-height: 2em;
			color: #fff;
			text-transform: uppercase;
			letter-spacing: .075em;
			transition: all .25s;

			&:hover{
				background:#494949;
				cursor: pointer;
			}
		}
	}
</style>
