<template>
	<nav>
		<figure>
			<img src="https://i.pravatar.cc/50" :alt="username">
			<figcaption>
				<h5>{{username}}</h5>
			</figcaption>
		</figure>

		<div class="header-utils">
			<button
				class="logout-btn flat-btn"
				@click="signout"
			>Logout</button>
		</div>
	</nav>
</template>

<script>
	import {logout} from '@/utils/fetch-afterware.js';

	export default {
		data () {
			return {}
		},
		computed: {
			username () {
				return this.$store.state.user.username
			}
		},
		methods: {
			signout() {
				logout.call(this);
			}
		}
	}
</script>

<style lang="scss" scoped>
	nav {
		background: #229966;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 10px 30px;
		margin-bottom: 40px;
	}
	figure{
		display: flex;
		align-items: center;
		margin: 0;

		img{
			border-radius: 50%;
		}
		h5{
			margin: 0;
			margin-left: 15px;
			letter-spacing: .07em;
			font-size: 1.5rem;
			color: #99ff99;
		}
	}
	.logout-btn{
		letter-spacing: .03em;
		padding: 7px 20px;
		color: var(--main-color);
		&:hover{
			background-color: rgba(#99ff99, .3);
			color: #99ff99;
		}
	}
</style>
