<template>
  <li>
		<template v-if="!isEditMode">
			<time>{{new Intl.DateTimeFormat('en-US').format(new Date(task.dueDate))}}</time>
			<p>{{task.description}}</p>
		</template>

		<TaskForm
			v-else
			:task="task"
			:errors="errors"
			@update="updateTask"
			@cancel="isEditMode = false"
		/>

		<footer
			v-if="!isEditMode"
			class="utils"
		>
			<button
				class="update-btn"
				@click="isEditMode = true"
			>Update</button>

			<button
				class="alert-btn"
				@click="deleteTask"
			>Delete</button>
		</footer>
	</li>
</template>

<script>
import TaskForm from './TaskForm.vue';

import {unauthorizedCheck} from '@/utils/fetch-afterware.js';

export default {
  name: "TaskItem",
  props: {
    task: {
			type: Object,
			required: true
		}
	},
	data () {
		return {
			errors: null,
			isEditMode: false
		}
	},
	methods: {
		async updateTask (task) {
			const data = JSON.stringify(task);

			try{
				const result = await fetch(`http://localhost:8888/api/tasks/${this.task._id}`, {
					method: 'PUT',
					body: data,
					headers: {
						'Authorization': `Bearer ${this.$cookies.get('tkn')}`,
						'Content-Type': 'application/json'
					}
				});

				if(!result.ok) {
					const {errors} = await result.json();
					if (errors) {
						this.errors = errors;
					}

					return unauthorizedCheck.call(this, result);
				}

				const {data: {updatedTask}} = await result.json();

				// Reset some data
				this.isEditMode = false;
				this.errors = null;

				// Fire Event that Task is successfully updated
				this.$emit('updated', updatedTask);
			} catch (err) {
				console.error(err);
			}
		},
		async deleteTask () {
			try{
				const result = await fetch(`http://localhost:8888/api/tasks/${this.task._id}`, {
					method: 'DELETE',
					headers: {
						'Authorization': `Bearer ${this.$cookies.get('tkn')}`
					}
				});

				if(!result.ok) {
					return unauthorizedCheck.call(this, result);
				}

				const {data: {deletedTask}} = await result.json();
				this.$emit('deleted', deletedTask);
			} catch (err) {
				console.error(err);
			}
		}
	},
	components: {
		TaskForm
	}
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
	time{
		position: absolute;
		right: 15px;
		top: 8px;
		color: #229966;
		letter-spacing: .05em;
	}
	p{
		margin-top: 0;
	}
	footer{
		margin-top: 40px;
		display: flex;
		justify-content: space-between;

		button{
			margin: 0 10px;
		}
	}
</style>
