<template>
  <div id="app">
		<AppHeader v-if="isUser"/>
		<router-view />
	</div>
</template>

<script>
	import AppHeader from '@/components/general/AppHeader.vue';

	export default{
		computed: {
			isUser () {
				return this.$store.getters.isUser;
			}
		},
		components: {
			AppHeader
		}
	}
</script>

<style lang="scss">
body{
	margin: 0;
}
#app {
	--main-color: #2c3e50;
	--alert-color: #883333;
	--alert-hover-color: #aa3333;
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--main-color);
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

*{
	box-sizing: border-box;
}

a{
	color: var(--alert-color);
	text-decoration: none;
}

.empty-state{
	margin: 60px 0;
	text-transform: uppercase;
	font-size: 1.2rem;
	text-align: center;
}

// Form Styles
form{
	p{
		margin-top: 0;

		&.has-error{
			label{
				display: flex;
				padding: 5px 10px;
				background: var(--alert-color);
				color: #bbb;
				align-items: center;

				&:after{
					content: '!';
					flex-basis: 1.5em;
					margin-left: auto;
					line-height: 1.5em;
					width: 1.5em;
					color: var(--alert-color);
					background: #bbb;
					text-align: center;
					border-radius: 50%;
				}
			}
			textarea,
			input{
				border-color: var(--alert-color);
			}
		}
	}
	.error-message{
		display: block;
		margin-bottom: 5px;
		color: var(--alert-color);
	}
}
label{
	display: inline-block;
	margin-bottom: 5px;
}
textarea{
	resize: none;
	height: 200px;
}
textarea,
input{
	background-color: #fff;
	border: 1px solid #595959;
	width: 100%;
	font-size: 1rem;
	line-height: 2em;
	padding: 0 10px;
	box-sizing: border-box;
}
button{
	width: 100%;
	background: #595959;
	border: none;
	font-size: 1rem;
	line-height: 2em;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: .075em;
	transition: all .25s;

	&:disabled{
		opacity: .7;
		color: #aaa;
	}

	&:not(:disabled):hover{
		background:#494949;
		cursor: pointer;
	}

	&.alert-btn{
		color: #aaa;
		background-color: var(--alert-color);
		&:not(:disabled):hover{
			color: #fff;
			background-color: var(--alert-hover-color);
		}
	}

	&.flat-btn{
		width: auto;
		background: none;
	}
}

// Loading
.loading-section{
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex: 1;

	.loading-icon{
		background-color: #777;
		width: 50px;
		height: 50px;
		position: relative;
		animation: spinning .8s infinite;

		&:before,
		&:after{
			content: '';
			position: absolute;
			display: block;
			width: 50%;
			height: 50%;
		}
		&:before{
			top: 0;
			left: 0;
			background: var(--alert-color);
		}
		&:after{
			right: 0;
			bottom: 0;
			background: var(--alert-hover-color);
		}
	}
}

@keyframes spinning {
	from{
		transform: rotate(0deg);
	}
	to{
		transform: rotate(360deg);
	}
}
</style>
